body{
    background-color: white;
    margin: 10px;
}
.box{
    background-color:black;
    height: 650px;
    width: auto;
    border: 15px solid white;
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;            
}

.quadrado2{
    background-color: cyan;
    border: 2px solid black;
        text-align: center;
    padding: 20px;
    text-align: center;
}