body{
    background-color: white;
    margin: 10px;
}
.box{
    background-color: yellow;
    height: 650px;
    text-align: center;
    width: auto;
    border: 15px solid white;
    display: grid;
    grid-template-areas: "menuL titulo conteudo"
                         "menuL rodape conteudo";

    grid-template-rows: 50px 1fr;
    grid-template-columns: 100px 1fr 100px ;                     
}
.titulo{
    background-color: red;
    grid-area: titulo;
}
.MenuL{
    background-color: brown;
    grid-area: menuL;
}
.conteudo{
    background-color: green;
    grid-area: conteudo;
}
.rodape{
    background-color: orange;
    grid-area: rodape;
}