p{
    background-color: aquamarine;
}
h2{
    background-color: blue;
}
h3{
    background-color: brown;
}

#stilo1{
    background-color: yellow;
}

.stilo2{
    background-color: green;
    font-size: 20px
}
p{
    background-color: pink;
}

p{
    background-color: gray;
}